
<% if (locals.school) { %>
    <li>
        <%= school.name %>
    </li>
    <li>
        <a href= "/school/destroy-session" > Sign-out</a>
    </li>
<% } else  { %>
    <ul>
        <li>
            <a href= "/school/sign-in" >sign-in</a>
        </li>
        <li>
            <a href = "/school/sign-up">sign-up</a>
        </li>
    </ul>
    
<% } %>

