<div id = "sign-up">
    <form  action = "/school/create"  method = "POST">
        <input type= "text" name="name" placeholder = "School Name">
        <input type= "email" name="email" placeholder="Email">
        <input type = "password" name = "password" placeholder= "Password">
        <input type = "password" name = "confirm_password" placeholder= "Confirm Password">
        <input type= "submit" value = "Submit">
    
    </form>
</div>